@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image center orange">
        <i class="material-icons large white-text">star_rate</i>        
        <a class="btn-floating halfway-fab waves-effect waves-light red" asp-controller="Especialidad" asp-action="Index"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Especialidades:</span>
        <p>Aquí podrás agregar nuevas especialidades, eliminarlas y editarlas de ser necesario.</p>
      </div>
      <div class="card-action blue-grey darken-3">
        <a asp-controller="Especialidad" asp-action="Index">Ver más</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image center blue">
        <i class="material-icons large white-text">face</i>        
        <a class="btn-floating halfway-fab waves-effect waves-light red" asp-controller="Medico" asp-action="Index"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Medicos:</span>
        <p>Aquí podrás agregar nuevos medicos, eliminarlos y editar su informacion.</p>
      </div>
      <div class="card-action blue-grey darken-3">
        <a asp-controller="Medico" asp-action="Index">Ver más</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image center green accent-4">
        <i class="material-icons large white-text">assignment_ind</i>        
        <a class="btn-floating halfway-fab waves-effect waves-light red" asp-controller="Paciente" asp-action="Index"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Pacientes:</span>
        <p>Aquí podrás agregar nuevos pacientes, eliminarlos y editar su informacion.</p>
      </div>
      <div class="card-action blue-grey darken-3">
        <a asp-controller="Paciente" asp-action="Index">Ver más</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image center brown">
        <i class="material-icons large white-text">assignment</i>        
        <a class="btn-floating halfway-fab waves-effect waves-light red" asp-controller="Turno" asp-action="Index"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Turnos:</span>
        <p>Aquí podrás agendar o retirar un turno.</p>
      </div>
      <div class="card-action blue-grey darken-3">
        <a asp-controller="Turno" asp-action="Index">Ver más</a>
      </div>
    </div>
  </div>

</div>
